<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BadWordFilter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>BadWordTester.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BC97E31B1D3EA2ED00BB0937</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC97E33B1D3EAB4800BB0937</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC97E3481D3EAB6700BB0937</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC97E3551D3EAC1500BB0937</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC97E3621D3EAC4700BB0937</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
